$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$bg-primary: #F6F6F6;
$bg-secondary: #EAEAEA;
$bg-light: white;
$bg-dark: #353535;

$big-font: 'Shrikhand', cursive;
$main-font: 'Roboto', sans-serif;

$shadow: 0px 5px 4px rgba(0, 0, 0, 0.15),
        inset 0 60px 4px rgba(255, 255, 255, 0);
$hover-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3),
        inset 0 60px 4px rgba(255, 255, 255, 0.2);