@import "base/reset",
        "base/typography";

@import "pages/accueil",
        "pages/restaurants";

@import "layout/header",
        "layout/footer";

@import "components/loader",
        "components/search-form",
        "components/gradient-btn",
        "components/steps-btn",
        "components/new-btn",
        "components/menu-btn",
        "components/card",
        "components/menu-card",
        "components/like-icon",
        "components/shadow-box",
        "components/menu-loading-animation";
