@import "../abstracts/variables";
@import "../abstracts/mixins";

footer {
    color: white;
    background-color: $bg-dark;
    padding: 22px 25px;
}

.footer-logo {
    font-family: $big-font;
    font-size: 1.125em;    
    margin-bottom: 16px;
}

.footer-links {
    @include col-dir;
    gap: 7px;

    &__link {
        @include row-dir;
        align-items: center;
        gap: 11px;
    }
}
@media only screen and (min-width: 768px) {
    footer {
        @include row-dir;
        gap: 25px;
    }

    .footer-logo {
        margin-bottom: 0;
    }

    .footer-links {
        @include row-dir;
        gap: 25px;

        &__link {
            gap: 5px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 1060px) {
    footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 70px;
    }

    .footer-logo {
        padding-top: 30px;
    }

    .footer-links {
        gap: 30px;
    }
}