@import "../abstracts/variables";
@import "../abstracts/mixins";

header {
    @include col-dir;
}

.header {
    &__logo{
        @include col-dir;
        justify-content: center;
        height: 50px;
        padding: 14px 89px;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.15);
        & img {
            height: 75%;
        }
    }
}