@import "../abstracts/variables";
@import "../abstracts/mixins";

.gradient-btn {
    background: linear-gradient(0, $primary 0%, $secondary 100%);
    height: 50px;
    width: fit-content;
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    color: white;
    text-align: center;
    box-shadow: $shadow;
    transition: box-shadow 450ms;

    &:hover {
        cursor: pointer;
        box-shadow: $hover-shadow;
    }

    &--cmd {
        padding-left: 49px;
        padding-right: 49px;
    }
}
