@import "../abstracts/variables";
@import "../abstracts/mixins";

.like-section {
    width: 25px;
    height: 25px;
    position: relative;

    &__icon {
        font-size: 1.5rem;
        position: absolute;

        &--full {
            background: linear-gradient(0, $secondary 15%, $primary 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0%;
            transform: scale(0.1);
            transition: transform 300ms;
        }
    }

    &:hover {
        cursor: pointer;
        & .like-section__icon--empty {
            opacity: 0%;
        }
        & .like-section__icon--full {
            opacity: 100%;
            transform: scale(1);
        }
    }   
}