@import "../abstracts/variables";
@import "../abstracts/mixins";

.like-section {
    width: 22px;
    height: 22px;
    position: relative;

    &__icon {
        font-size: 1.4rem;
        position: absolute;
        top: 0;

        &--full {
            background: linear-gradient(25deg, $primary 0%, $secondary 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0%;
            transform: scale(0.1);
            transition: transform 300ms;
        }
    }

    &:hover {
        & .like-section__icon--empty {
            opacity: 0%;
        }
        & .like-section__icon--full {
            opacity: 100%;
            transform: scale(1);
        }
    }   
}