@import "../abstracts/variables";
@import "../abstracts/mixins";


@for $i from 1 through 10 {
    .menu-part {
        opacity: 0;
        overflow: hidden;

        &--#{$i} {
            animation: menu-loading 450ms forwards ease-out;
            animation-delay: $i*100ms;
        }
    }
}

@for $i from 1 through 10 {
    .menu-btn--#{$i} {
        opacity: 0;
        animation: slide-in 450ms forwards ease-in-out;
        animation-delay: 150ms + ($i*150ms);
    }
}

@keyframes menu-loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(250px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}