@import "../abstracts/variables";
@import "../abstracts/mixins";

.menu-btn {
    @include row-dir;
    align-items: center;
    height: 75px;
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 0;
    margin-bottom: 8px;
    box-shadow: $shadow;
    overflow: hidden;

    &__text {    
        height: auto;
        width: 150px;
        flex-grow: 3;
        text-align: left;
        padding-left: 20px;
        overflow: hidden;
    }
    &__title {
        @include card-title-font;
        @include text-ellipsis;
        margin-bottom: 10px;
    }
    &__subtitle {
        @include text-ellipsis;
    }
    &__price {
        align-self: flex-end;
        min-width: 10%;
        font-weight: 700;
        padding-bottom: 10px;
    }
    &__check {    
        @include row-dir;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 0;
        background: $tertiary;
        color: white;
        font-size: 1.75em;
        transform: scaleX(0);
        transform-origin: right;
    }

    &:hover {
        cursor: pointer;
        & .menu-btn__check {
            animation: check-slide-in 300ms forwards ease-in-out;
        }
        & .fa-circle-check {
            animation: check-icon-spin 300ms 150ms;
        }
    }
}

@keyframes check-slide-in {
    from {
        width: 0;
        transform: scaleX(0);
    }
    to {
        width: 70px;
        transform: scaleX(1);
    }
}

@keyframes check-icon-spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

@media only screen and (min-width: 768px)  {
    .menu-btn {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

}