* {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.section-title {
  font-size: 1.75em;
  font-weight: 700;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 27px;
  background-color: #F6F6F6;
  align-items: center;
  text-align: center;
  height: 289px;
}
.cta__title {
  margin-top: 40px;
  height: 68px;
  width: 275px;
}
.cta__subtitle {
  font-size: 1.125em;
  font-weight: 300;
  height: 46px;
  width: 315px;
}

.how-to {
  background-color: white;
  padding: 40px 0;
}
.how-to__title {
  margin: 0 0 26px 20px;
}
.how-to__steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.section-restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  width: 100%;
  padding: 40px 0;
}
.section-restaurant__title {
  margin-left: 20px;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body {
  background-color: #F6F6F6;
}

.heading {
  height: 275px;
  width: 100%;
}
.heading__picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 65px;
}
.header__back-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 17px;
  text-decoration: none;
  color: #353535;
  font-size: 1.5em;
}

footer {
  color: white;
  background-color: #353535;
  padding: 22px 25px;
}

.footer-logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.125em;
  margin-bottom: 16px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-links__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.search__form {
  display: flex;
  flex-direction: row;
  background-color: #EAEAEA;
  height: 50px;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
.search__form label, .search__form input {
  border: none;
  background-color: #EAEAEA;
}

.gradient-btn {
  background: linear-gradient(0, #9356DC 0%, #FF79DA 100%);
  height: 50px;
  width: fit-content;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  color: white;
  text-align: center;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15), inset 0 60px 4px rgba(255, 255, 255, 0);
  transition: box-shadow 450ms;
}
.gradient-btn:hover {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3), inset 0 60px 4px rgba(255, 255, 255, 0.2);
}
.gradient-btn--cmd {
  padding-left: 49px;
  padding-right: 49px;
}

.steps-btn {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  height: 72px;
  width: 85%;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.steps-btn__number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 12px;
  font-size: 14px;
}
.steps-btn__icon {
  color: #7E7E7E;
  padding-right: 20px;
}
.steps-btn__icon--colored {
  color: #9356DC;
}

.new-btn {
  border-radius: 2px;
  background-color: #99E2D0;
  padding: 7px 9px;
  font-size: 14px;
  color: #008766;
}

.menu-btn {
  background-color: white;
  padding: 15px;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.menu-btn__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 5px;
}
.menu-btn__title {
  font-size: 1.125rem;
  font-weight: 700;
}
.menu-btn__price {
  font-weight: 700;
}

.restaurant-cards__card {
  height: 280px;
  max-width: 92%;
  border-radius: 15px;
  margin-top: 25px;
}
.restaurant-cards__link {
  text-decoration: none;
  color: black;
}

.card-content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 70%;
}
.card-content__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.card-content__new {
  position: absolute;
  right: 15px;
  top: 15px;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 25px 11px 13px;
  max-height: 30%;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.card-info__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.menu {
  background-color: #F6F6F6;
  position: relative;
  bottom: 32px;
  border-radius: 40px 40px 0 0;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 20px;
}
.menu__title {
  font-size: 1.75em;
  font-weight: 700;
  font-family: "Shrikhand", cursive;
}

.menu-part {
  padding: 0 13px;
}
.menu-part__header {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.menu-part__separator {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
  box-shadow: none;
}
.menu-part__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 12px;
}

.command-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 8px;
}

.like-section {
  width: 25px;
  height: 25px;
  position: relative;
}
.like-section__icon {
  font-size: 1.5rem;
  position: absolute;
}
.like-section__icon--full {
  background: linear-gradient(0, #FF79DA 15%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0%;
  transform: scale(0.1);
  transition: transform 300ms;
}
.like-section:hover .like-section__icon--empty {
  opacity: 0%;
}
.like-section:hover .like-section__icon--full {
  opacity: 100%;
  transform: scale(1);
}

.shadow-box {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15), inset 0 60px 4px rgba(255, 255, 255, 0);
}

.menu-part {
  opacity: 0;
  overflow: hidden;
}
.menu-part--one {
  animation: menu-loading 450ms forwards ease-out;
}
.menu-part--two {
  animation: menu-loading 450ms 150ms forwards ease-out;
}
.menu-part--three {
  animation: menu-loading 450ms 300ms forwards ease-out;
}

.menu-btn {
  opacity: 0;
}
.menu-btn--one {
  animation: slide-in 450ms 300ms forwards ease-in-out;
}
.menu-btn--two {
  animation: slide-in 450ms 450ms forwards ease-in-out;
}
.menu-btn--three {
  animation: slide-in 450ms 600ms forwards ease-in-out;
}

@keyframes menu-loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(250px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
