* {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.section-title {
  font-size: 1.75em;
  font-weight: 700;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 27px;
  background-color: #F6F6F6;
  align-items: center;
  text-align: center;
  height: 289px;
}
.cta__title {
  margin-top: 40px;
  height: 68px;
  width: 275px;
}
.cta__subtitle {
  font-size: 1.125em;
  font-weight: 300;
  height: 46px;
  width: 315px;
}

.how-to {
  background-color: white;
  padding: 40px 0;
}
.how-to__title {
  margin: 0 0 26px 20px;
}
.how-to__steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.section-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  padding: 40px 0;
}
.section-restaurant__title {
  align-self: flex-start;
  margin-left: 20px;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

@media only screen and (min-width: 768px) {
  .cta {
    height: 240px;
  }
  .cta__title, .cta__subtitle {
    height: fit-content;
    width: 100%;
  }
  .how-to__steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
  }
  .restaurant-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
@media only screen and (min-width: 1060px) {
  .cta__title {
    font-size: 2.125em;
  }
  .cta__subtitle {
    font-size: 1em;
  }
  .how-to {
    padding-left: 80px;
    padding-right: 80px;
  }
  .section-restaurant__title {
    padding-left: 80px;
  }
  .restaurant-cards {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1300px) {
  .how-to {
    padding-left: 180px;
    padding-right: 180px;
  }
  .section-restaurant__title {
    padding-left: 180px;
  }
}
body {
  background-color: #F6F6F6;
}

.heading {
  height: 275px;
  width: 100%;
}
.heading__picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 65px;
}
.header__back-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 17px;
  text-decoration: none;
  color: #353535;
  font-size: 1.5em;
}

footer {
  color: white;
  background-color: #353535;
  padding: 22px 25px;
}

.footer-logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.125em;
  margin-bottom: 16px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-links__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .footer-logo {
    margin-bottom: 0;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .footer-links__link {
    gap: 5px;
  }
}
@media only screen and (min-width: 1060px) {
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 70px;
  }
  .footer-logo {
    padding-top: 30px;
  }
  .footer-links {
    gap: 30px;
  }
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  animation: loading-end 300ms 2500ms forwards;
}

@keyframes loading-end {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.steam {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-left: 55px;
  animation: dance 500ms 750ms infinite linear;
  animation: shake 500ms 750ms infinite linear;
  animation-direction: alternate-reverse;
  transform-origin: bottom;
}
.steamwave {
  width: 12px;
  opacity: 0;
  animation: appear 500ms forwards linear;
  animation: up 1000ms 750ms infinite linear forwards;
  transform-origin: bottom;
}
.steamwave--one {
  height: 75px;
  border-radius: 0% 100% 0% 100%/0% 100% 0% 100%;
  background-color: #9356DC;
}
.steamwave--two {
  height: 70px;
  border-radius: 0% 100% 0% 100%/0% 100% 0% 100%;
  background-color: #FF79DA;
}
.steamwave--three {
  height: 75px;
  border-radius: 0% 100% 0% 100%/0% 100% 0% 100%;
  background-color: #99E2D0;
}

.pan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  animation: shake 500ms infinite linear;
  animation-direction: alternate-reverse;
}
.pan__handle {
  margin-top: 5px;
  width: 58px;
  height: 12px;
  background-color: #353535;
  border-radius: 10px 0 0 20px;
}
.pan__handlelink {
  margin-top: 5px;
  width: 3px;
  height: 8px;
  background-color: white;
  border: 2px solid black;
}
.pan__recipient {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  height: 60px;
  width: 100px;
  background-color: #353535;
  border-radius: 5px 5px 15px 15px;
  overflow: hidden;
}

.flames {
  position: relative;
  bottom: -3px;
  color: white;
  animation: flame-dance 250ms infinite;
  animation-direction: alternate-reverse;
}

.flame--one {
  animation: flame-grow 200ms infinite ease-in-out;
  animation-direction: alternate;
  transform-origin: bottom;
}
.flame--two {
  animation: flame-grow 200ms 100ms infinite ease-in-out;
  animation-direction: alternate;
  transform-origin: bottom;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes dance {
  from {
    opacity: 0.8;
    transform: skewX(-10deg);
  }
  to {
    opacity: 1;
    transform: skewX(1deg);
  }
}
@keyframes up {
  from {
    transform: translateY(0px) scale(0.3);
    opacity: 0;
  }
  30% {
    transform: translateY(-20px) scale(0.6);
    opacity: 1;
  }
  40% {
    transform: translateY(-40px) scale(0.5);
    opacity: 0.5;
  }
  60% {
    transform: translateY(-80px) scale(0.3);
    opacity: 0.1;
  }
  to {
    transform: translateY(-250px) scale(0);
    opacity: 0;
  }
}
@keyframes shake {
  from {
    transform: translateX(1px);
  }
  to {
    transform: translateX(-1px);
  }
}
@keyframes flame-dance {
  from {
    opacity: 0.9;
    transform: skewX(-3deg);
  }
  to {
    opacity: 1;
    transform: skewX(3deg);
  }
}
@keyframes flame-grow {
  from {
    transform: scaleY(0.8);
  }
  to {
    transform: scaleY(1);
  }
}
.search__form {
  display: flex;
  flex-direction: row;
  background-color: #EAEAEA;
  height: 50px;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
.search__form label, .search__form input {
  border: none;
  background-color: #EAEAEA;
}

.gradient-btn {
  background: linear-gradient(0, #9356DC 0%, #FF79DA 100%);
  height: 50px;
  width: fit-content;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  color: white;
  text-align: center;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15), inset 0 60px 4px rgba(255, 255, 255, 0);
  transition: box-shadow 450ms;
}
.gradient-btn:hover {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3), inset 0 60px 4px rgba(255, 255, 255, 0.2);
}
.gradient-btn--cmd {
  padding-left: 49px;
  padding-right: 49px;
}

.steps-btn {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  height: 72px;
  width: 85%;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.steps-btn__number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 12px;
  font-size: 14px;
}
.steps-btn__icon {
  color: #7E7E7E;
  padding-right: 20px;
}
.steps-btn__icon--colored {
  color: #9356DC;
}

@media only screen and (min-width: 768px) {
  .steps-btn {
    width: 30%;
  }
}
.new-btn {
  border-radius: 2px;
  background-color: #99E2D0;
  padding: 7px 9px;
  font-size: 14px;
  color: #008766;
}

.menu-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
}
.menu-btn__text {
  height: auto;
  width: 150px;
  flex-grow: 3;
  text-align: left;
  padding-left: 20px;
  overflow: hidden;
}
.menu-btn__title {
  font-size: 1.125rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.menu-btn__subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-btn__price {
  align-self: flex-end;
  min-width: 10%;
  font-weight: 700;
  padding-bottom: 10px;
}
.menu-btn__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0;
  background: #99E2D0;
  color: white;
  font-size: 1.75em;
  transform: scaleX(0);
  transform-origin: right;
}
.menu-btn:hover .menu-btn__check {
  animation: check-slide-in 300ms forwards ease-in-out;
}
.menu-btn:hover .fa-circle-check {
  animation: check-icon-spin 300ms 150ms;
}

@keyframes check-slide-in {
  from {
    width: 0;
    transform: scaleX(0);
  }
  to {
    width: 70px;
    transform: scaleX(1);
  }
}
@keyframes check-icon-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@media only screen and (min-width: 768px) {
  .menu-btn {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
.restaurant-cards__card {
  height: 280px;
  max-width: 92%;
  border-radius: 15px;
  margin-top: 25px;
}
.restaurant-cards__link {
  text-decoration: none;
  color: black;
}

.card-content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 70%;
}
.card-content__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.card-content__new {
  position: absolute;
  right: 15px;
  top: 15px;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 25px 11px 13px;
  max-height: 30%;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.card-info__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  .restaurant-cards__card {
    width: 23%;
    height: 300px;
  }
  .card-content {
    height: 75%;
  }
  .card-info {
    height: 20%;
  }
}
@media only screen and (min-width: 1060px) {
  .restaurant-cards__card {
    width: 40%;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1300px) {
  .restaurant-cards {
    width: 85%;
  }
}
.menu {
  background-color: #F6F6F6;
  position: relative;
  bottom: 32px;
  border-radius: 40px 40px 0 0;
  padding: 32px 0;
  margin-bottom: -32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 20px;
}
.menu__title {
  font-size: 1.75em;
  font-weight: 700;
  font-family: "Shrikhand", cursive;
}

.menu-part {
  padding: 0 13px;
}
.menu-part__header {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.menu-part__separator {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
  box-shadow: none;
}
.menu-part__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 12px;
}

.command-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: white;
  }
  .menu {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .menu-part__header, .menu-part__separator {
    margin-left: 15%;
  }
}
@media only screen and (min-width: 1060px) {
  .menu {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .menu__title {
    width: 100%;
    text-align: center;
  }
  .menu .like-section {
    right: 28%;
  }
}
@media only screen and (min-width: 1300px) {
  .menu {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.like-section {
  width: 25px;
  height: 25px;
  position: relative;
}
.like-section__icon {
  font-size: 1.5rem;
  position: absolute;
}
.like-section__icon--full {
  background: linear-gradient(0, #FF79DA 15%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0%;
  transform: scale(0.1);
  transition: transform 300ms;
}
.like-section:hover .like-section__icon--empty {
  opacity: 0%;
}
.like-section:hover .like-section__icon--full {
  opacity: 100%;
  transform: scale(1);
}

.shadow-box {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15), inset 0 60px 4px rgba(255, 255, 255, 0);
}

.menu-part {
  opacity: 0;
  overflow: hidden;
}
.menu-part--one {
  animation: menu-loading 450ms forwards ease-out;
}
.menu-part--two {
  animation: menu-loading 450ms 150ms forwards ease-out;
}
.menu-part--three {
  animation: menu-loading 450ms 300ms forwards ease-out;
}

.menu-btn {
  opacity: 0;
}
.menu-btn--one {
  animation: slide-in 450ms 300ms forwards ease-in-out;
}
.menu-btn--two {
  animation: slide-in 450ms 450ms forwards ease-in-out;
}
.menu-btn--three {
  animation: slide-in 450ms 600ms forwards ease-in-out;
}

@keyframes menu-loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(250px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
