@import "../abstracts/mixins";
@import "../abstracts/variables";

.section-title {
    @include title-font;
}

.cta {
    @include col-dir;
    gap: 27px;
    background-color: $bg-primary;
    align-items: center;
    text-align: center;
    height: 289px;

    &__title {
        margin-top: 40px;
        height: 68px;
        width: 275px;
    }

    &__subtitle {
        @include subtitle-font;
        height: 46px;
        width: 315px;
    }
}

.how-to {
    background-color: white;
    padding: 40px 0;
    &__title {
        margin: 0 0 26px 20px;
    }
    &__steps {
        @include col-dir;
        gap: 25px;
        margin-bottom: 40px;
    }
}

.section-restaurant {
    @include col-dir;
    background-color: $bg-primary;
    width: 100%;
    padding: 40px 0;

    &__title {
        margin-left: 20px;
    }
}

.restaurant-cards {
    @include col-dir;
    align-items: center;
    width: 100%;
}