@import "../abstracts/mixins";
@import "../abstracts/variables";

.section-title {
    @include title-font;
}

.cta {
    @include col-dir;
    gap: 27px;
    background-color: $bg-primary;
    align-items: center;
    text-align: center;
    height: 289px;

    &__title {
        margin-top: 40px;
        height: 68px;
        width: 275px;
    }

    &__subtitle {
        @include subtitle-font;
        height: 46px;
        width: 315px;
    }
}

.how-to {
    background-color: white;
    padding: 40px 0;
    &__title {
        margin: 0 0 26px 20px;
    }
    &__steps {
        @include col-dir;
        gap: 25px;
        margin-bottom: 40px;
    }
}

.section-restaurant {
    @include col-dir;
    justify-content: center;
    align-items: center;
    background-color: $bg-primary;
    width: 100%;
    padding: 40px 0;

    &__title {
        align-self: flex-start;
        margin-left: 20px;
    }
}

.restaurant-cards {
    @include col-dir;
    justify-content: center;
    align-items: center;
    width: 95%;
}

@media only screen and (min-width: 768px) {
    .cta {
        height: 240px;
        &__title,
        &__subtitle {
            height: fit-content;
            width: 100%;
        }
    }

    .how-to {
        &__steps {
            @include row-dir;
            justify-content: center;
            gap: 25px;
            margin-bottom: 40px;
        }
    }

    .restaurant-cards {
        @include row-dir;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media only screen and (min-width: 1060px) {

    .cta {
        &__title {
            font-size: 2.125em;
        }
        &__subtitle {
            font-size: 1em;
        }
    }

    .how-to {
        padding-left: 80px;
        padding-right: 80px;
    }

    .section-restaurant {
        &__title {
            padding-left: 80px;
        }
    }

    .restaurant-cards {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1300px) {

    .how-to {
        padding-left: 180px;
        padding-right: 180px;
    }

    .section-restaurant {
        &__title {
            padding-left: 180px;
        }
    }
}